html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;

    header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;

        .right {
            max-width: 50px;
            width: 100%;
        }
    }
    .container {
        display: flex;
        max-width: 1700px;
        width: 100%;
        flex-direction: column;
        padding: 15px;
    }

    .main-layout {

    }
}