html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    width: 100%;

    .layout {
        display: flex;
        max-width: 1700px;
        width: 100%;
        flex-direction: column;
        align-self: inherit;
    }
}